<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<!-- test page -->
	<bean name="/hello" class="com.joya.test.HelloController" />
	
	<!-- admin -->
	<bean name="/admin/users" class="com.joya.admin.controller.UserListController" />
	<bean name="/admin/userinfo" class="com.joya.admin.controller.UserInfoController" />
	<bean name="/admin/product_add" class="com.joya.admin.controller.ProductUploadFormController" />
	<bean name="/admin/product_add_action" class="com.joya.admin.controller.ProductUploadActionController" />
	<bean name="/admin/visitors" class="com.joya.admin.controller.VisitorCountController" />
	<bean name="/admin/admin_check" class="com.joya.admin.controller.AdminAuthController" />
	
	<!-- product -->
	<bean name="/product/list" class="com.joya.product.controller.ProductlistController" />
	<bean name="/product/view" class="com.joya.product.controller.ProductViewController" />

	<!-- order -->
	<bean name="/order/order_add_action" class="com.joya.order.controller.CreateOrderActionController" />

	<!-- cart -->
	<bean name="/cart" class="com.joya.cart.controller.CartListController" />
	<bean name="/wishtocart" class="com.joya.cart.controller.WishListToCartActionController" />
	
	<bean name="/order/order_add" class="com.joya.order.controller.OrderAddFormController" />
	
	<!-- 회원 관련 -->
	<bean name="/user/login_action" class="com.joya.user.controller.CertificationController" />
	<bean name="/user/email_action" class="com.joya.user.controller.CheckEmailController" />
	<bean name="/user/passwd_action" class="com.joya.user.controller.CheckPasswdController" />
	<bean name="/user/close_action" class="com.joya.user.controller.CloseAccountController" />
	<bean name="/user/modify_action" class="com.joya.user.controller.ModifyUserController" />
	<bean name="/user/myorders_action" class="com.joya.user.controller.ShowOrdersController" />
	<bean name="/user/register_action" class="com.joya.user.controller.RegisterController" />
	<bean name="/user/mypage_action" class="com.joya.user.controller.MyPageController" />
	<bean name="/user/bridge_action" class="com.joya.user.controller.BridgeController" />
	
	<!-- 마이페이지 관련 -->
	<bean name="/mypage/wishlist" class="com.joya.wishlist.controller.WishlistController" />
	<bean name="/mypage/wishlistcreate" class="com.joya.wishlist.controller.WishlistCreateController" />
	<bean name="/mypage/wishlistdelete" class="com.joya.wishlist.controller.WishlistDeleteController" />
	
	<!-- board -->
	<bean name="/boards/qnawrite" class="com.joya.board.controller.QnAWriteController" />
	<bean name="/boards/qnalist" class="com.joya.board.controller.QnAListController" />
	
</beans>