<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean name="/hello" class="com.joya.test.HelloController" />
	<bean name="/admin/userlist" class="com.joya.admin.controller.UserListController" />
	<bean name="/admin/userinfo" class="com.joya.admin.controller.UserInfoController" />
	<bean name="/product/list" class="com.joya.product.controller.ProductlistController" />
	
	<!-- 회원 관련 -->
	<bean name="/user/login_action" class="com.joya.user.controller.CertificationController" />
</beans>