<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Joya</display-name>

	<!-- 홈페이지 등록 -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	
	<!-- 웹브라우저 모든 요청에 대한 단일 진입점 역할의 Front Controller Servlet(메인서블릿) 등록 -->
	<servlet>
		<servlet-name>MainController</servlet-name>
		<servlet-class>com.joya.main.controller.MainController</servlet-class>
		<init-param>
			<param-name>controllerMapperLocation</param-name>
			<param-value>c:/workspace/eclipse/Joya/WebContent/WEB-INF/controller-mapper.xml</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup> <!-- was가 구동될 때 미리 실행되어 만들어짐 -->
	</servlet>

	<servlet-mapping>
		<servlet-name>MainController</servlet-name>
		<url-pattern>*.joya</url-pattern>
	</servlet-mapping>
</web-app>