    .modal-dialog {
      width: 300px;
      margin-top: 200px;
    }
    .modal-body {
      padding-bottom: 18px;
    }
    #myModalLabel {
      color: gray;
      margin-top: 5px;
      margin-bottom: 5px;
    }
	#acc-close {
		float: right;
		position: relative;
		right: 185px; 
		margin-left: 5px;
	}
	
	#register-form #acc-cancel {
		float: right;
		position: relative;
		right: 371px; 
		margin-left: 5px;
	}