#ji-tableD{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.ji-size{
	width:15px;
}

.ji_title{
	width:250px;
}

.ji-writerS{
	width:100px;
}

#ji-writeD{
	margin-top: 20px;
	margin-right:10px;
	float: right;
}

.jiji_div{
	text-align: center;
}

.jiji_div1{
	align-content: center;
}

.pagination{
	text-align: center;
	margin-left : 45%;
	margin-bottom : 2%
}


/* cart.jsp */
.ji-productSelect{
	width:24px;
	height:24px;
}

.ji-cart-deleteBtn{
	width:25px;
	height:25px;
}

