<style type="text/css">

.border_mi{
	padding-left : 50px;
}

.midivision{
	padding-left:0px;
	padding-right:10px;
	
}

.midivision1{
	padding-left:5px;
	padding-right:0px;
	margin-bottom:0px;
	margin-top: -1px;
	
}

.midivision2{
}

.midivision3{
	padding-left:0px;
	padding-right:0px;
	margin-top: -50px;
	margin-bottom:-150px;
}

.midivision6{
	float:right;
}

#replydiv{
	padding-left:  15%;
	padding-right: 15%;
}


</style>