#selectWish{
	display: inline-block;
}

.selectC {
	width:20px;
	height:20px;
	background: white;
	border: 1px solid #c0c0c0;
}

#orderB{
	float:right;
	width:90px;
	color:rgb(90, 90, 90);
	border-radius:1px;
	margin-right:15px;
	border: 1px solid #c0c0c0;
	background-color: white;
}